@use './variables.scss' as *;
@use './colors.scss' as *;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height:100vh;
    position: relative;
    display: grid;
    place-items: center;
}

main{
    min-height: 100vh;
    text-align: center;
    transition: all 1s ease;
    animation: introLoad 1s forwards;


    .hero-section{
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

}

footer{
    position: absolute;
    bottom: 0;
}


// animation sextion

@keyframes interload {
    0%{
        transform: translateY(-7rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

// breakpoints section

@media only screen and (min-width: 900px){
    html{
        font-size: 20px;
    }
    main{   
        border-radius: 1rem;
        overflow: hidden;
        display: grid;
        max-width: calc(900 / 18) * .9rem;
        min-height: calc(435 / 18) * .9rem;
        grid-template-columns: repeat(2, minmax(auto, calc(350 / 18) * .9rem));
        box-shadow: 5px 4px 15px 2px rgba($color: #000000, $alpha: 0.2);
        
        .hero-section{
            border-top-right-radius:1rem;
        }

    }
}